#chess-container, #basket-container, #catalog {
    width: 775px;
    padding: 25px 50px;
    margin: 0 auto;
}

.white, .black {
    width: 75px;
    height: 75px;
    border: 1px solid gray;
    font-size: 36px;
    text-align: center;
    vertical-align: center;
    color: gray;
}

.black {
    background-color: #000;
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 0 auto;
}

p {
    text-align: center;
}

.catalog__item {
    margin: 15px 0;
    background-color: #e1e1e1;
    line-height: 30px;
}